*{
  padding: 0px;
  margin: 0px;
}

body{
  background-image: url("../img/sample-pattern.png");
}

nav{
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

nav ul{
  padding: 0px;
}

nav ul a li{
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
}

#me{
  color: #FCA311;
  font-size: 32px;
  padding: 0px 50px;
}

header .cover{
  height: 460px;
  position: relative;
  top: -30px;
  width: 100%;
  background:url("../img/cover-image.jpg") no-repeat center bottom;
	background-size:cover;
  background-attachment:fixed;
}

header .cov-content{
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 200px;
  width: 70%;
}

header h1{
  color: rgba(255, 255, 255, 0.88);
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
  text-shadow: 2px 2px #f9ec7b;
}

header h2{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

h2{
  font-family: 'Raleway', sans-serif;
  color: #34495E;
  font-size: 2em;
  text-align: center;
}

section {
  /*border: 1px solid black;*/
  width: 1000px;
  margin: auto;
}

#article-list{
  /*border: 1px solid black;*/
  background-color: #fff;
  margin: 30px 80px 50px 80px;
}

#article-list a{
  text-decoration: none;
}

#article-list h3{
  color: #9ABDE9;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}

article {
  border: 1px solid #f1f1f1;
  padding: 20px;
}

article a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

article p{
  font-family: 'Raleway', sans-serif;
}

article h3{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 15px;
}

article ol li{
  padding: 20px;
}

footer{
  background-color: black;
  padding: 20px;
}

footer h5{
  color: #fff;
  font-family: 'Amatic SC', sans-serif;
  font-size: 20px;
  text-align: center;
}

.img-circle{
  display: block;
  border-radius: 50%;
  margin: auto;
  padding-top: 20px;
}
